.checkout_left{
   flex: .8;
}
.checkout_right{
    flex: .2;
 }
.checkout_left > img{
    width: 100%;
    height: 35vh;
    margin-bottom: 10px;
}
.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout_title
{      
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.checkout_right > h2
{
    margin-left: 10px;
    font-size: 1.1em;
}