.header{
    display: flex;
    height: 60px;
    background-color: #131921;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header_logo{
    width: 10%;
    min-width: 70px;
    max-width: 100px;
    margin: 0 20px;
    margin-top: 18px;
    object-fit: contain;

}
.header_searchicon{
    background-color: #cd9042;
    padding: 5px;
    height: 22px;
}
.header_search{
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 24px;
}
.header_searching{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: .5em;
    margin-right:.3em;
    color: white;
    font-size: 80%;
    flex:1;
    align-items: center;
}
.header_nav{
    display: flex;
}
.header_optionlineone{
   font-size: 11px;
}
.header_optionlinetwo{
    font-size: 13px;
    font-weight: 800;
}
.header_basketcount{
  font-size: 15px;
   margin-left: 5px;
}
.header_optionbasket{
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: white;
  
}
.header_optionbasket >.MuiSvgIcon-root{
   font-size: 26px;
}